body {
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    background-color: #e9e8e5;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}
@keyframes AnimationName {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}

.arama{
    margin-top: 3px;
    background-color: rgb(95, 93, 91);
}
#modalBody li{
    margin-top: 9px;
    display: flex;
    justify-content: space-between;
   
}
#btsil{
    
    background-color: #e4e1dc;
    width: 40px;
    height: 40px;
    color: black;
  
}
#fav{
    display: flex;
    margin-left: 20px;
    background-color: rgb(95, 93, 91);
}
.favButton{
    margin-top: 3px;
    justify-content: center;
    width: 135px;
    height: 38px;
    text-align: center;
    display: -ms-grid;
}
.homeSide{
    justify-content: center;
    display: flex;
}